.boxContainer {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  .box {
    background: #eee;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    //border: 1px solid #333;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    position: relative;

    .index {
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      background: rgba(0, 0, 0, .6);
      box-sizing: border-box;
      font-size: 12px;
      width: 16px;
      height: 16px;
      line-height: 1.25;
      text-align: center;
      font-family: cursive, "Raleway", sans-serif;
      user-select: none;
      cursor: default;
      opacity: .3;
    }

    .fa {
      font-size: 3em;
      color: #fff;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}